@charset "utf-8";

//VARIABLES
$gap: 50px;
$modal-content-width: 900px;

@import "../node_modules/bulma/bulma.sass";

// CSS
body{
    line-height: 1.6;
}

.firstPadding{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.secondPadding{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.thirdPadding{
    padding-bottom: 5rem;
}

.titlePadding{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.informativeImages{
    width:400px;
    height:auto;
}

#carousel-home{
    overflow: hidden;
}

.slider-hero{
    height: 50vw;
}

.is-clickable{
    cursor: pointer;
}

footer a:hover{
    color: white;
}

.gallery img, .team img{
    height: 100%;
    object-fit: cover;
}

.google-maps{
    width: 100%;
    height: 600px;
    border: 3px solid #FF3860;
    border-radius: 5px;
}


@media only screen and (max-width: 768px) {
    .informativeImages{
        width:auto;
        height:auto;
    }

    .reverse-columns{
        flex-direction: column-reverse;
        display: flex;
    }

    .google-maps{
        height: 300px;
    }
}

@media only screen and (max-width: 650px) {
    .firstPadding{
        padding-top: 0rem;
    }

    .titlePadding{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}




